/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  width: 50%;
  margin: 5px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
  background-image: url("../img/dom1.jpeg");
  background-size: fill;
  background-repeat: no-repeat;
  background-color: rgb(23, 40, 74);
}

h1{
  color: rgb(255, 0, 187);
  padding-top: 5px;
  margin-top: 10px;
}
